<html>
<head>
  <title></title>
  <style>
    ul {
      list-style-type: none;
    }

    li{
      float: left;
      padding: 20px 50px;
    }
    li:last-child{
      float:none;
    }
      .container{
        padding: 20px 150px;
      }
    a{
      text-decoration: none;
    }
  </style>
</head>
<body>
<ul>
  <li>Sample App</li>
  <li><a href="#">Home</a></li>
  <li><a href="#">Help</a></li>
  <li><a href="#">Login</a></li>

</ul>
<div class="container">
  <%= yield %>
</div>
<ul>
  <li><img height="50px" src="/logo.png" alt="logo" /></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">News</a></li>

</ul>
</body>
</html>